*.asv
*.fig
*.mltbx
*.avi
*.pptx
*.png
development/
data/
+mex/include/
+mex/lib/win64/microsoft/libmwcoder_connectivity_comm.lib
+mex/lib/
+mex/examples/
+mex/engines/python/dist/matlab/engine/win64/matlabengineforpython2_7.pyd
+mex/engines/
+mex/.mex/examples/
+mex/.mex/include/libmatlbmx.mlib
+mex/.mex/include/
+mex/.mex/lib/
+mex/.mex/engines/
